.section {
    display: flex;
    height: 95px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid rgb(211, 211, 211);
}

.image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile {
    position: relative;
    margin-right: 25px;
}

.name {
    font-size: 20px;
    color: rgb(70, 70, 70);
}