.container {
    height: 22vh;
    border-top: 2px solid rgb(200, 200, 200);;
    background-color: rgb(237, 237, 237);
}

.form {
    position: relative;
    padding: 20px 0;
}

.button {
    position: absolute;
    top: 30%;
    right: 45px;
}

.input {
    height: 50px;
    width: 80%;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 15px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 20px;
}

.input:focus {
    outline-color: rgb(222, 222, 222);
    color: rgb(125, 125, 125);
}